<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/incorrecta.css">
    <link href="../assets/icons/fontawesome-free-7.0.0-web/css/all.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <section>
    <div class="inicioexitoso">
        <div class="arriba">
            <i class="fa-solid fa-xmark fa-10x"></i>
        </div>
        <div class="abajo-texto">
            <p>Contraseña Incorrecta</p>
        </div>
        <div class="abajo-boton">
            <div class="contenedor-boton">
                <button class="IniciarSesión" onclick="window.location.href='../pages/login.html'">Iniciar Sesión</button>
            </div>
        </div>
    </div>
    </section>
</body>
</html>