<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/juego.css">
    <title>PARTIDA</title>
</head>
<body>
    <section id="contenedor">
        <header class="cuadradito">Tablero de: ""</header>
        <nav class="cuadradito">NAV / MENU</nav>
        <aside class="cuadradito">RESTRICCIÓN DADO</aside>
        <main class="cuadradito">
            <section class="tablero">
                <div id="BosqueSemejanza" class="bosque">
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                </div>
                <div id="ReySelva" class="bosque">

                </div>
                <div id="TrioFrondoso" class="bosque">
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                </div>
                <div id="PradoDiferencia" class="piedra">
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                    <div class="celda"></div>
                </div>
                <div id="PraderaAmor" class="piedra">

                </div>
                <div id="IslaSolitaria" class="piedra">

                </div>
                <div id="rio" class="piedra" class="bosque">

                </div>
            </section>
        </main>
        <footer class="cuadradito">
            <section id="Mano">
                <div class="seccion" id="seccion1"></div>
                <div class="seccion" id="seccion2"></div>
                <div class="seccion" id="seccion3"></div>
                <div class="seccion" id="seccion4"></div>
                <div class="seccion" id="seccion5"></div>
                <div class="seccion" id="seccion6"></div>
            </section>
        </footer>
    </section>
</body>
</html>
