<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/juego.css">
    <link rel="stylesheet" href="../../public/icons/fontawesome-free-7.0.0-web/css/all.css">
    <title>Partida</title>
</head>
<body>
    <header>
        <nav>
        <div class="back">
            <a href="../../public/index.html"><i class="fa-solid fa-left-long fa-5x"></i></a>
        </div>
        <div class="menu">
            <div class="izq">
                <i class="fa-solid fa-angle-left fa-5x"></i>
            </div>
            <div class="numerotablero">
                1/5
            </div>
            <div class="der">
                <i class="fa-solid fa-angle-right fa-5x"></i>
            </div>
        </div>
        </nav>
    </header>

    <main>
        <section id="Tablero">
            <img src="../../public/images/tableroverano.jpg" alt="tablero de verano">
        </section>
        <aside>
            <h1>Dado</h1>
        </aside>
    </main>

    <section id="Mano">
        <div class="Mano" id="dino1"></div>
        <div class="Mano" id="dino2"></div>
        <div class="Mano" id="dino3"></div>
        <div class="Mano" id="dino4"></div>
        <div class="Mano" id="dino5"></div>
        <div class="Mano" id="dino6"></div>
    </section>
</body>
</html>
