<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/juego.css">
    <title>Partida</title>
</head>
<body>
    <header>
        <button class="back">
            
        </button>
    </header>

    <main>
        <section id="Tablero">
            <div class="Tablero"></div>
        </section>
        <aside></aside>
    </main>

    <section id="Mano">
        <div class="Mano" id="dino1"></div>
        <div class="Mano" id="dino2"></div>
        <div class="Mano" id="dino3"></div>
        <div class="Mano" id="dino4"></div>
        <div class="Mano" id="dino5"></div>
        <div class="Mano" id="dino6"></div>
    </section>
</body>
</html>
