<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/fonts/InriaSans/InriaSans-Regular.ttf">
    <link href="../../public/fonts/IrishGrover/IrishGrover-Regular.ttf">
    <link href="../../public/icons/fontawesome-free-7.0.0-web/css/all.css" rel="stylesheet"/>
    <link href="../../public/css/login.css" rel="stylesheet"/>
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <nav class="barra-navegacion">
            <div class="logo-sitio">
                <a class="logo-sitio" href="../views/contacto.html">
                    <img src="../../public/images/CodeFlowBlanco.png" alt="Imagotipo de CodeFlow"/>
                </a>
            </div>
            <div class="menu-principal">
                <ul class="secciones">
                    <li><a href="../../public/index.html"><i class="fa-solid fa-house"></i>Inicio</a></li>
                    <li><a href="login.html"><i class="fa-solid fa-right-to-bracket"></i>Iniciar Sesión</a></li>
                    <li><a href="signup.html"><i class="fa-solid fa-user-plus"></i>Registrarse</a></li>
                    <li><a href="../apps/views/historialpartidas.php"><i class="fa-solid fa-clipboard"></i>Historial de partidas</a></li>
                    <li><a href="contacto.html"><i class="fa-solid fa-message"></i>Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="contendor-formulario">
            <div class="izq">
                <h1>Iniciar Sesión</h1><br><br>
                <form action="../controllers/UserController.php" method="POST">
                    <label>Usuario:</label>
                    <input class="ingresartexto" type="text" name="usuario" required>
                    <label>Contraseña:</label>
                    <input class="ingresartexto" type="password" name="password" required>
                    <button class="botoningresar" type="submit" name="action" value="login">Ingresar</button>
                </form>
            </div>
            <div class="der"></div>
        </div>
    </section>
</body>
</html>