<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/noencontrado.css">
    <link href="../../public/icons/fontawesome-free-7.0.0-web/css/all.css" rel="stylesheet"/>
    <title>Usuario no encontrado</title>
</head>
<body>
    <section>
    <div class="inicioexitoso">
        <div class="arriba">
            <i class="fa-solid fa-xmark fa-10x"></i>
        </div>
        <div class="abajo-texto">
            <p>Usuario no encontrado</p>
        </div>
        <div class="abajo-boton">
            <div class="contenedor-boton">
                <button class="Registrarse" onclick="window.location.href='../../public/index.html'">Registrarse</button>
            </div>
        </div>
    </div>
    </section>
</body>
</html>