<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/registradoexito.css">
    <link href="../../public/icons/fontawesome-free-7.0.0-web/css/all.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <section>
    <div class="inicioexitoso">
        <div class="arriba">
            <i class="fa-regular fa-circle-check fa-10x"></i>
        </div>
        <div class="abajo-texto">
            <p>Te has registrado correctamente</p>
        </div>
        <div class="abajo-boton">
            <div class="contenedor-boton">
                <button class="iniciar-sesion" onclick="window.location.href='../views/login.html'">Iniciar Sesión</button>
            </div>
        </div>
    </div>
    </section>
</body>
</html>