@font-face {
    font-family: 'Inria Sans';
    src: url('../fonts/InriaSans/InriaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover/IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Irish Grover", cursive;
}

.barra-navegacion {
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #000;
    color: white;
}

.logo-sitio {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 15vh;
}

.menu-principal {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 85vw;
    height: 15vh;
}

.secciones{
    margin-right: 2rem;
    display: flex;
    align-items: end;
    gap:5rem;
    list-style-type: none;
    font-size: 1.3rem;
    font-family: "Irish Grover", cursive;
}

.secciones li a{
    display: flex;
    align-items: center;
    gap:0.5rem;
    text-decoration: none;
    color: inherit; 
}

section {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9D00;
}

.contendor-formulario {
    display: flex;
    width: 90vw;
    height: 75vh;
    background: url(../img/Fondo.PNG) no-repeat center;
    background-size: cover;
}

.der {
    background-color: rgba(231, 201, 201, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    height: 75vh;
}

.izq {
    width: 45vw;
    height: 75vh;
}

form, label, input {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.botoningresar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 3rem;
    width: 10vw;
    height: 8vh;
    background-color: #000;
    cursor: pointer;
}

.ingresartexto {
    background: transparent;
    border: none;
    border-bottom: 0.2rem solid black;
}

h1 {
    font-size: 2.4rem;
}

@media (max-width: 1024px) {
    .logo-sitio {
        width: auto;
        height: auto;
    }

    .contendor-formulario{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: 75vh;
    }

    .ingresartexto {
        border-bottom: 0.3rem solid black;
        width: 15rem;
    }

    .botoningresar {
        width: 15vw;
    }

    .izq{
        display: none;
    }

    .der{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: transparent;
    }
}

@media (max-width: 480px) {


    .contenido-principal {
        height: auto;
    }
    .barra-navegacion {
        height: 10vh;
    }
    .logo-sitio {
        width: 25vw;
        height: 10vh;
    }
    .contendor-formulario {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 85vh;
    }

    .izq {
        display: none;
    }

    .der {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .botoningresar{
        width: 30vw;
    }

    .ingresartexto{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
