@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover/IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Irish Grover";
}

main{
    background-image: url(../images/Fondo.PNG);
    background-size: cover;
}

h1
{
    margin-top: 2rem;
    font-size: 4rem;
}

.titulo{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    height: 50vh;
}

.cuadrado{
    display: flex;
    width: 15vw;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    font-size: 10rem;

}

a{
    color: inherit;   
    text-decoration: none; 
}

.cuadrado:hover {
    transform: scale(1.1);
}