@font-face {
    font-family: 'Inria Sans';
    src: url('../fonts/InriaSans/InriaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover/IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.barra-navegacion {
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #000;
    color:white;
}

.logo-sitio {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 15vh;
}

.menu-principal {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 85vw;
    height: 15vh;
}

.secciones{
    margin-right: 2rem;
    display: flex;
    align-items: end;
    gap:5rem;
    list-style-type: none;
    font-size: 1.3rem;
    font-family: "Irish Grover", cursive;
}


.contenido-principal {
    display: flex;
    width: 100vw;
    height: 85vh;
}

.secciones li a{
    display: flex;
    align-items: center;
    gap:0.5rem;
    text-decoration: none;
    color: inherit; 
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    background: url("../images/Fondo.PNG") no-repeat center;
    background-size: cover;
    width: 75vw;
    height: 85vh;
}

.columna-derecha {
    background-color: #f0b057;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 85vh;
}

.encabezado-juego {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 30vh;
}

.titulo-juego {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 22vh;
}

.titulo-juego img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.contenedor-botones {
    display: flex;
    width: 75vw;
    height: 30vh;
}

.boton {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 37.5vw;
    height: 30vh;
}

.boton-principal,
.boton-secundario {
    color: #ffac11;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Irish Grover", cursive;
    font-size: 1.3rem;
    border-radius: 3rem;
    margin-bottom: 4rem;
    width: 30vw;
    height: 15vh;
    background-color: #503a2c;
    border: none;
    cursor: pointer;
}

.tarjetas-informacion {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 75vw;
    height: 25vh;
}

.tarjeta-info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 15vw;
    height: 25vh;
}

.tarjeta-info--mecanica {
    background-color: #f69554;
}

.tarjeta-info--tiempo {
    background-color: #f85757;
    color: white;
}

.tarjeta-info--familia {
    background-color: #f7c948;
}

.contenido-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Irish Grover", cursive;
    text-align: center;
    margin: 10% 0;
}

.fa-solid.fa-people-group {
    color: #ff6e00;
}

.imagen-producto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 42.5vh;
}

.caja-draftosaurus {
    width: 100%;
    height: 100%;
}

.descripcion-producto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 42.5vh;
}

.titulo-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 7.96875vh;
    font-family: "Inria Sans", sans-serif;
}

.parrafo-descripcion {
    width: 25vw;
    height: 23.90625vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.texto-descripcion {
    margin: 10%;
    font-family: "Inria Sans", sans-serif;
}

.contenedor-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 10.625vh;
}

.boton-jugar-ahora {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    width: 10vw;
    height: 8vh;
    background-color: #000;
    font-family: "Inria Sans", sans-serif;
    cursor: pointer;
    margin-bottom: 1rem;

}

@media (max-width: 1024px) {
    html, body {
        overflow-x: hidden;
    }

    .logo-sitio {
        width: auto;
        height: auto;
    }

    .contenido-principal {
        flex-direction: column;
    }
    .columna-izquierda,
    .columna-derecha,
    .tarjeta-info {
        width: 100%;
        height: auto;
    }
    .encabezado-juego {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        justify-content: center;
    }
    .titulo-juego {
        width: 100%;
        max-width: 300px;
    }
    .titulo-juego img {
        width: 100%;
        margin-bottom: 2rem;
    }
    .contenedor-botones {
        margin-top: 2rem;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .boton {
        width: 80%;
        height: 50%;
        margin-bottom: 2rem;
    }
    .boton-principal,
    .boton-secundario {
        width: 60vw;
        height: 15vh;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .tarjetas-informacion {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .tarjeta-info {
        border-radius: 3rem;
        justify-content: center;
        align-items: center;
        width: 75%;
    }
    .contenido-tarjeta {
        justify-content: center;
        align-items: center;
    }
    .tarjeta-info--familia {
        margin-bottom: 2rem;
    }
    .imagen-producto,
    .descripcion-producto {
        width: 100%;
        height: auto;
        font-size: 1.5rem;
    }
    .caja-draftosaurus {
        width: 80vw;
        height: auto;
        margin: 0 auto;
    }
    .titulo-producto,
    .parrafo-descripcion,
    .texto-descripcion,
    .contenedor-boton {
        width: 90%;
        height: auto;
        padding: 0 2rem;
        text-align: center;
    }
    .boton-jugar-ahora {
        width: 60vw;
        height: 45px;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }

    .menu-principal {
        width: 75vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .secciones{
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:0.5rem;
        list-style-type: none;
        font-size: 0.75rem;
        font-family: "Irish Grover", cursive;
    }

    .secciones li {
        flex: 1 1 auto;
        text-align: center;
    }

    .contenido-principal {
        height: auto;
    }
    
    .barra-navegacion {
        height: auto;
        padding: 0.5rem 0;
    }

    .logo-sitio { 
    width: 25vw; height: 10vh; 
}
    .encabezado-juego {
        width: 100%;
    }
    .titulo-juego {
        width: 100%;
        max-width: 250px;
    }
    .contenedor-botones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .boton {
        width: 100%;
        justify-content: center;
    }
    .boton-principal,
    .boton-secundario {
        width: 60vw;
        height: 15vh;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .tarjetas-informacion {
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }
    .tarjeta-info {
        flex: 1;
        border-radius: 3rem;
        width: 100%;
        height: 70px;
    }
    .caja-draftosaurus {
        width: 90vw;
        height: auto;
    }
    .boton-jugar-ahora {
        width: 80vw;
        height: 40px;
        font-size: 0.9rem;
    }
    .texto-descripcion {
        margin: 5%;
        font-size: 0.9rem;
    }
    .titulo-producto,
    .parrafo-descripcion,
    .contenedor-boton {
        padding: 0 1rem;
    }
}
