*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: black;
}

nav{
    display: flex;
}

.back{
    height: 10vh;
    width: 33vw;
    color: red;
}

.menu{
    display: flex;
    color: aliceblue;
    height: 10vh;
    width: 34vw;
}

.numerotablero{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    height: 10vh;
    width: 33vw;
}

a{
    text-decoration: none;
    color:inherit;
}

main{
    display: flex;
}

#Tablero{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    background-color: mediumorchid;
}

aside{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 20vw;
    background-color: chocolate;
}

#Mano{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: rgb(129, 184, 255);
}

.Mano{
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
    transition: transform 0.3s ease;
}

#dino1{ 
    background-image: url(../images/verde.png); 
}
#dino2{ 
    background-image: url(../images/rosado.png); 
}
#dino3{ 
    background-image: url(../images/rojo.png); 
}
#dino4{ 
    background-image: url(../images/amarillo.png); 
}
#dino5{ 
    background-image: url(../images/celeste.png); 
}
#dino6{ 
    background-image: url(../images/naranja.png); 
}   
.Mano:hover{
    transform: rotate(50deg);
}
