* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
}

html, body {
    height: 100%;
    width: 100%;
}

#contenedor {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "aside main main"
        "footer footer footer";
    grid-template-rows: 10% 15% 75% 20%;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #eee;
}

header {
    grid-area: header;
    background-color: lightblue;
}

nav {
    grid-area: nav;
    background-color: lightcoral;
}

aside {
    grid-area: aside;
    background-color: lightseagreen;
}

main {
    grid-area: main;
    background-color: lightgoldenrodyellow;
}

footer {
    grid-area: footer;
    background-color: lightgreen;
}

.cuadradito {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.seccion {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 2.6rem;
}

#Mano {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#seccion1 { background-image: url(../images/verde.png); }
#seccion2 { background-image: url(../images/rosado.png); }
#seccion3 { background-image: url(../images/rojo.png); }
#seccion4 { background-image: url(../images/amarillo.png); }
#seccion5 { background-image: url(../images/celeste.png); }
#seccion6 { background-image: url(../images/naranja.png); }

.seccion:hover {
    transform: rotate(25deg);
}

.tablero {
    background-color: rgb(248, 188, 188);
    background-image: url(../images/tableroverano.jpg);
    width: 582px;
    height: 507px;
}

#recinto1 {
    background-color: transparent;
    border: 5px solid black;
    width: 156px;
    height: 118px;
    margin-top: 50px;
    margin-left: 13px;
}

#recinto2{
    background-color: transparent;
    border: 5px solid black;
    width: 155px;
    height: 97px;
    margin-left: 329px;
    margin-top: -149px;
    border-radius: 60px;
}

#recinto3{
    background-color: transparent;
    border: 5px solid black;
    width: 148px;
    height: 128px;
    margin-top: 85px;
    margin-left: 13px;
}

#recinto4{
    background-color: transparent;
    border: 5px solid black;
    width: 151px;
    height: 85px;
    margin-left: 365px;
    margin-top: -88px;
}

#recinto5{
    background-color: transparent;
    border: 5px solid black;
    width: 132px;
    height: 109px;
    margin-top: 50px;
    margin-left: 64px;
}

#recinto6{
    background-color: transparent;
    border: 5px solid black;
    width: 161px;
    height: 86px;
    margin-left: 420px;
    margin-top: -140px;
}

#rio{
    background-color: transparent;
    border: 5px solid black;
    width: 113px;
    height: 141px;
    margin-left: 240px;
    margin-top: -66px;
}

@media (max-width: 480px){
    #contenedor {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "aside aside aside"
        "footer footer footer";
    grid-template-rows: 10% 15% 75% 80%;
    grid-template-columns: 0fr 2fr 2fr;
    background-color: #eee;
    }
}