@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover/IrishGrover-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
}

html, body {
    height: 100%;
    width: 100%;
}

input[type="button"] 
{   
    border: none;
}

form#formPartida {
    display: contents;
}



#contenedor {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-template-rows: 10% 10% 90% 20%;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #eee;
}

header {
    grid-area: header;
    background-color: lightblue;
}

nav {
    grid-area: nav;
    background-color: lightcoral;
}

main {
    grid-area: main;
    background-color: lightgoldenrodyellow;
}

footer {
    grid-area: footer;
    background-color: lightgreen;
}

.cuadradito {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

#Mano {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tablero {
    background-color: rgb(248, 188, 188);   
    background-image: url(../images/tableroverano.jpg);
    width: 582px;
    height: 507px;
}

#BosqueSemejanza {
    background-color: transparent;
    width: 156px;
    height: 118px;
    margin-top: 50px;
    margin-left: 13px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.celda:last-child {
    border-right: none;
}

.celda input {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#ReySelva input {
    width: 155px;
    height: 97px;
    background-color: transparent;
    border-radius: 60px;
    box-sizing: border-box;
    text-align: center;
}

#ReySelva {
    background-color: transparent;
    width: 155px;
    height: 97px;
    margin-left: 329px;
    margin-top: -149px;
    border-radius: 60px;
}

#TrioFrondoso {
    background-color: transparent;
    width: 148px;
    height: 128px;
    margin-top: 85px;
    margin-left: 13px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#PradoDiferencia {
    background-color: transparent;
    width: 151px;
    height: 85px;
    margin-left: 365px;
    margin-top: -88px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#PraderaAmor {
    background-color: transparent;
    width: 132px;
    height: 109px;
    margin-top: 50px;
    margin-left: 64px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#IslaSolitaria {
    background-color: transparent;
    width: 161px;
    height: 86px;
    margin-left: 420px;
    margin-top: -140px;
}

#IslaSolitaria input {
    width: 161px;
    height: 86px;
}

#rio {
    background-color: transparent;
    width: 113px;
    height: 250px;
    margin-left: 230px;
    margin-top: -175px;
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    gap: 2px;
}

#rio .celda {
    background-color: transparent;
}

.calcularpuntos {
        background-color: black;
    color: white;
    width: 20vw;
    height: 10vh;
    border-radius: 3rem;
    cursor: pointer;
    font-family: "Irish Grover", cursive;
    letter-spacing: 0.2rem;
}

.izq, .der {
    background-color: transparent;
    color: white;
    width: 8vw;
    height: 10vh;
    border: none;
    cursor: pointer;    
    font-size: 3rem;
    font-family: "Irish Grover", cursive;
}

.celda input[type="button"] {
    opacity: 0.5;
}

.tablero {
    display: none;
}

@media (max-width: 480px) {
    #contenedor {
        width: 100%;
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-areas: 
            "header header header"
            "nav nav nav"
            "main main main"
            "footer footer footer";
        grid-template-rows: 10% 15% 75% 80%;
        grid-template-columns: 0fr 2fr 2fr;
        background-color: #eee;
    }

    .tablero {
        width: 380px;
        height: 330px;
        background-image: url(../images/tableroresponsive.jpg);
    }

    #BosqueSemejanza {
        background-color: transparent;
        width: 111px;
        height: 79px;
        margin-top: 30px;
        margin-left: 5px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #ReySelva {
        background-color: transparent;
        width: 98px;
        height: 62px;
        margin-left: 216px;
        margin-top: -99px;
        border-radius: 60px;
    }

    #ReySelva input {
        width: 98px;
        height: 62px;
        background-color: transparent;
        border-radius: 60px;
        box-sizing: border-box;
        text-align: center;
    }

    #TrioFrondoso {
        background-color: transparent;
        width: 98px;
        height: 84px;
        margin-top: 59px;
        margin-left: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #PradoDiferencia {
        background-color: transparent;
        width: 102px;
        height: 61px;
        margin-left: 236px;
        margin-top: -60px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #PraderaAmor {
        background-color: transparent;
        width: 92px;
        height: 80px;
        margin-top: 22px;
        margin-left: 41px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #IslaSolitaria {
        background-color: transparent;
        width: 104px;
        height: 53px;
        margin-left: 275px;
        margin-top: -90px;
    }

    #IslaSolitaria input {
        width: 104px;
        height: 53px;
    }
    
    #rio {
        background-color: transparent;
        width: 64px;
        height: 160px;
        margin-left: 160px;
        margin-top: -110px;
        display: grid;
        grid-template-columns: repeat(1, 5fr);
    }

    #rio .celda {
        display: grid;
        grid-template-columns: repeat(1, 5fr);
        background-color: transparent;
    }
}


